h1 {
  color: rgb(5, 80, 5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: normal;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.social-links .links {
  color: rgb(60, 0, 128);
}

.social-links .links:hover,
.social-links .links:focus {
  color: green;
}
.social-links .links:active {
  color: red;
}
.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}
.site-nav .linkss {
  text-transform: uppercase;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.list-link {
  outline: 1px solid tomato;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 15px 0 15px;
  text-align: center;
}
.list-link:hover .overlay {
  transform: translateY(0);
}
