h1 {
  color: rgb(5, 80, 5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: normal;
}

.list > li {
  border: 1px solid tomato;
}
.social-links .links {
  color: rgb(60, 0, 128);
}

.social-links .links:hover,
.social-links .links:focus {
  color: green;
}
.social-links .links:active {
  color: red;
}
.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}
.site-nav .linkss {
  text-transform: uppercase;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
